/* Navig */
.nav-item{
  font-size: 1.2rem;
}

/* Body */
h1{
  font-size: 2.24rem;
}
h2{
  font-size: 1.25rem;
}
p{
  font-size: 1rem;
}
h3{
  font-size: 1.15rem;
}
.bodycls{
  width: 100%;
  margin: auto;
}
