/* Navig */
.nav-item{
  font-size: 1rem;
}

/* Body */
.titcls h1{
  font-size: 1rem;
  color: black;
}
.titcls h2{
  font-size: 1rem;
}
#about p{
  font-size: 0.85rem;
}
.titcls h3{
  font-size: 0.95rem;
}
.abtcls{
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.logos{
  height: 1.25rem;
  margin: 1rem 0.25rem 2.25rem;
}
h6{
  font-size: 0.65rem;
}
#about h2{
  font-size: 0.95rem;
}
#contacts h2{
  font-size: 0.95rem;
}
#about{
  padding-left: 2rem;
  padding-right: 2rem;
}
.btn{
  font-size: 1rem;
}
