.bg{
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 12%;
  z-index: 0;
}
.pic{
  border-radius: 100%;
  height: 8rem;
  position: absolute;
  top: 10%;
  left: 3%;
  z-index: +1;
}
.para{
  padding-top: 12rem;
  margin: auto;
  text-align: center;
  width: 80%;
}
.para1{
  margin: auto;
  text-align: center;
  width: 80%;
  padding-bottom: 1rem;
}
.para2{
  padding-bottom: 2rem;
}
.carousel-item-active{
  width: 80%;
  height: 16rem;
  margin: auto;
}
.carousel-item p{
  color: white;
  padding: 2rem;
  text-align: center;
}
.contact p{
  margin: auto;
  text-align: center;
  width: 80%;
}
p{
  font-size: 0.75rem;
}
