.flickity-viewport {
  margin-top: 30%;
  height: 1100px !important;
}

.carousel-course-card-cell {
  height: 1000px;
  width: 80%;
}

.card-cell-content {
  width: 90%;
  padding-top: 5rem;
  flex-grow: 1;
  height: 60%;
}

.card-cell-info h4 {
  font-size: 2rem;
}

.card-cell-thumbnail {
  height: 40%;
}

.card-cell-thumbnail img {
  height: 100%;
}

.card-cell-text h2 {
  font-size: 3rem;
}

.card-cell-text h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.card-cell-info h4 {
  font-size: 2rem;
}

.but{
  font-size: 1.5rem !important;
}

.card-cell-button {
  position: relative;
  bottom: 1.5rem;
}
